





<h4>ComboBox dos items da tabela de Equipas direto da base de dados</h4>
@Html.DropDownList("drop1", (SelectList)ViewBag.DROP1)

<h4>ComboBox dos items da tabela de Membros direto da base de dados</h4>
@Html.DropDownList("drop2", (SelectList)ViewBag.DROP2)


